
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        #container {
            width: 100%;
            margin: 0 auto;
            background-color:blueviolet;
        }
        #header {
            background-color: brown;
            color: greenyellow;
            padding: 10px;
            text-align: center;
        }
        #navigation {
            background-color:green;
            color: blue;
            text-align: center;
        }
        #nav ul {
            list-style: none;
            padding: 0;
        }
        #nav ul li {
            margin: 10px 0;
        }
        a {
            color:black;
            text-decoration: none;
        }
        #content {
            padding: 20px;
            text-align: center;
        }

        /* Styling for the navigation menu */
        #nav ul li {
            display: block;
        }

        #nav ul li a {
            display: block;
            padding: 10px;
            border-bottom: 1px solid #444;
            transition: background-color 0.3s;
        }

        #nav ul li a:hover {
            background-color: #444;
        }

        /* Styling for the sections */
        section {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
   

    