body {
    font-family: Arial, sans-serif;
    background-image:"C:\Users\Lenovo\Downloads\stock-photo-online-exam-choose-correct-answer-in-test-2155787889.jpg";
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
   
    background-image: "C:\Users\Lenovo\Downloads\stock-photo-online-exam-choose-correct-answer-in-test-2155787889.jpg";
    border-radius: 5px;
    box-shadow: 0 0 10px white;
    
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
